/* --- Import Fonts --- */

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Mono&family=Josefin+Sans&family=Montserrat&family=Nunito&family=Roboto+Slab&family=Sanchez&display=swap");

/* --- Main --- */

:root {
	--dark: #3a3335;
	--primary: #6b9080;
	--primary-darker: #546f63;
	--secondary: #e78f8e;
	--light: #ecfee8;
}

* {
	padding: 0px;
	margin: 0px;
	outline: none;
}

body {
	background-color: hsl(0, 0%, 20%);
}

body *::selection {
	background: var(--secondary);
	color: var(--dark);
}

body::-webkit-scrollbar {
	display: none;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 12px;
	background: var(--primary);
}

.logo {
	color: var(--light);
	font-family: "Josefin Sans";
	font-size: 40px;
	margin-top: 8px;
}

.nav-search {
	display: flex;
	align-items: center;
}

.navlinks {
	display: flex;
	background-color: var(--primary);
	margin-right: 4px;
}

.navlinks button {
	padding: 10px;
	margin: 5px 2px;
	color: var(--light);
	background: var(--primary);
	border: none;
	border-radius: 10px;
	font-family: "Josefin Sans";
	transition: 0.2s;
}

.navlinks button:hover,
.navlinks button:focus {
	background-color: var(--primary-darker);
}

.search {
	font-family: "Josefin Sans";
	background: var(--primary);
	color: var(--light);
	border: 2px solid var(--light);
	border-radius: 10px;
	font-size: 16px;
	padding: 8px 15px;
	padding-top: 10px;
	width: 200px;
}

.search::placeholder {
	color: var(--light);
}

.search:hover,
.search:focus {
	background: var(--primary-darker);
	transition: 0.2s;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative; /* Needed for .date position absolute alignment */
	padding: 40px;
	background: var(--secondary);
	color: white;
}

.header *::selection {
	background: var(--primary);
	color: var(--dark);
}

.title {
	font-family: "Abril Fatface";
	font-size: 12rem;
	letter-spacing: 0.3rem;
	color: var(--light);
}

.main {
	padding: 100px;
	/* padding-left: 200px;
	padding-right: 200px; */
	background: var(--primary);
}

.main hr {
	border: 1px solid var(--light);
}

.article {
	padding: 30px 50px;
	background: var(--primary-darker);
	border-radius: 1rem;
	width: 60%;
	margin: auto;
}

.date {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: var(--light);
	font-family: "Josefin Sans";
}

.subheading {
	color: var(--light);
	font-family: "Sanchez";
	margin-bottom: 5px;
}

.text {
	color: var(--light);
	font-family: "Josefin Sans";
	font-size: 22px;
}

.imgcontainer {
	border-radius: 10px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.3) 50%,
		rgba(0, 0, 0, 0) 100%,
		rgba(0, 0, 0, 1)
	);
}

.imgcontainer img {
	width: 60%;
	border-radius: 10px;
	margin-bottom: 10px;
}

.imglinkholder {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 55%;
}

.imglinkholder a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.imgdownload {
	filter: saturate(300%);
}

.imglink {
	color: var(--light);
	font-family: "Josefin Sans";
}

.footer {
	padding: 20px;
	color: var(--light);
	font-family: "Josefin Sans";
	display: flex;
	justify-content: center;
}

.footer small::selection {
	background: var(--light);
	color: var(--dark);
}

@media only screen and (max-width: 820px) {
	.search {
		width: 100px;
	}
}
